<div class="card-container">
    <div class="paginate" > Page <input class="paginate-input" type="text" (change)="updatlist()" [(ngModel)]="currentPage" > / {{maxPages}}  
        <div class="paginate-button"> <button title="previous" (click)="minusP()"> 	&lt; </button> <button title="next" (click)="plusP()"> 	&gt; </button> </div> </div>
    <div class="cardList" >
        <div class="card" *ngFor="let r of repositories;let i =index;" title="open this repository github" (click)="goToLink(r.repoUrl)"  >
            <div class="cardAvatar">
                <img [src]="r.ownerAvatar" />
            </div>
            <div>
                <h2>
                    {{r.name}} <span class="orderCard" > #{{  (currentPage-1)*perPage +i+1}}  </span>

                </h2>
                <p>
                    {{r.description}}
                </p>
                <div class="cardInfo" >
                    <span class="borded-box"> stars : {{r.nbStars}} </span> 
                    <span class="borded-box"> Issues:{{r.nbIssues}} </span> 
                    submited {{r.ntimeInterval}} day ago  by <b> {{r.ownerName}} </b>
                </div>
            </div>
      </div>
    </div>