<div class="card-container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()" [scrollWindow]="false">
    <div class="cardList">
        <div class="card" *ngFor="let r of repositories;let i =index;" title="open this repository github"
            (click)="goToLink(r.repoUrl)">
            <div class="cardAvatar">
                <img [src]="r.ownerAvatar" />
            </div>
            <div>
                <h2 class="cardTitle">
                    {{r.name}} <span class="orderCard"> #{{i+1}} </span>

                </h2>
                <p>
                    {{r.description}}
                </p>
                <div class="cardInfo">
                    <span class="borded-box"> stars : {{r.nbStars}} </span>
                    <span class="borded-box"> Issues:{{r.nbIssues}} </span>
                    submited {{r.timeInterval}} day ago by <b> {{r.ownerName}} </b>
                </div>
            </div>
        </div>
    </div>
</div>