
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Logo app"
    src="../assets/image/logo.png"
  />
  <span>Trending Repositories Github</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  
  

  <!-- Title -->
  <h1>Trending</h1>
  <p>The most starred Github repos that were created in the last 30 days</p>


  <!-- app-repository -->

  
  <app-repository class="app-repository" ></app-repository>
  

  <!-- Footer -->
  <footer>
    © 2020 AMRAOUI OUSSAMA.

  </footer>

  

</div>



